
.idea/NRGene.iml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/libraries/
.idea/markdown-navigator.xml
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
.idea/sonarlint/
.idea/workspace.xml
question1/__pycache__/

question1/tamu_io/__pycache__/
question1/tamu_io/seq/__pycache__/
question2/__pycache__/

question2/part2/__pycache__/
question2/part3/__pycache__/
